#rec319183820 {overflow: inherit!important;word-break: break-word!important;}
#container{
    position: relative;
    font-family: 'PT Serif',serif;font-weight: 400;
    font-size: 18px;
    line-height: 1.55
  }
  
  #sections{
    width: 340px;
    padding-left: 50px;
  }
  
  #sections > div{
    background: white;
    height: 100vh;
    padding-top: 60px;
  }
  #sections > div:last-child{
    margin-bottom: 30px;
  }
  #sections > div.graph-scroll-active{
    opacity: 1;
  }
  
  #graph{
    font-family: 'PT Serif',serif;font-weight: 400;
    width: 600px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    float: right;
    padding-right: 20px;
  }
  #graph_text {text-align: center;}
  
  @media (max-width: 925px)  {
    #graph {
      width: 100%;
      margin-left: 0px;
      float: none;
      top: 120px;
    }
  
    #sections{
      width: auto;
      position: relative;
      margin: 0px auto;
      padding-left: 0px;
    }
  
    #sections > div{
      background: rgba(255,255,255,.8);
      box-shadow: -1px -1px 5px -1px rgb(0 0 0 / 19%), 3px 4px 5px 0px rgb(0 0 0 / 19%);
      padding: 10px;
      margin-bottom: 80vh;
      height: 100%;
    }
  
  }
  
  .simple_container {font-family: 'PT Serif',serif;font-weight: 400;font-size: 20px;max-width: 760px; margin: 0 auto; line-height: 1.55; padding: 0px 10px 0px 10px;}
  .simple_container h1 {font-weight: 400;
      font-size: 2.125em;
      line-height: 2.5rem;
      margin: 17px auto 21px;
      text-align: center;
  }
  .simple_container p {margin-top: 20px;}
  a {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  .time {font-size: 12px}
  .annotation-note-title {text-shadow:1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;}